# Sets


A set is a collection which is unordered 

To declare a set in python we use the curly brackets.

In [45]:
set={10,20,10,30,20,40,30,50,30}
#will get all the values.
for x in set:
 print(x)

50
20
40
10
30

In [33]:
for x in set:
 print(x)

50
20
40
10
30

In [34]:
20 in set
#will return true if the value is in the set.

True

In [35]:
100 in set

False

In [36]:
#add a value in a set
set.add('pekky')
set

{10, 20, 30, 40, 50, 'pekky'}

In [37]:
set.add(100)
set

{10, 100, 20, 30, 40, 50, 'pekky'}

In [38]:
100 in set

True

In [39]:
#to remove an item from a set
set.remove('pekky')
set

{10, 20, 30, 40, 50, 100}

In [40]:
set.remove(100)
set

{10, 20, 30, 40, 50}

In [41]:
set1={5,10,20}
set2={10,20,30}
set1.issubset(set2)

False

In [42]:
set1={10,20}
set2={10,20,30}
set1.issubset(set2)

True

In [43]:
#this will return a set with the union of the two sets.
set1.union(set2)

{10, 20, 30}

In [44]:
st1={4,2,3,}
st2={4,3,1}
set1.union(st2)

{1, 3, 4, 10, 20}